* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Heavy.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Lato';
  font-weight: 700;
}
